.text-box-container {
    position: relative;
    height: 50px;
    width: 365px;
    margin-top: 25px;
    .text-box {
        background-color: rgba($color: #fff, $alpha: 0.029999999329447746);
        text-align: center;
        margin-right: 12px;
        width: 42px;
        height:50px;
        font-family: 'Poppins' !important;
        color: #fff !important;
        ::hover {
        border-color: gray;
        }
    }
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}
input[type=number] {
  -moz-appearance: textfield;
}
.signup-top-heading1 {
    font-family: 'Poppins', sans-serif;
}
.signup-top-heading2 {
    font-family: 'Poppins', sans-serif;
}
.signup-checkbox-lable {
     opacity: 0.25;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
     color: #fff !important;
}
.signup-bottom-heading1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
}
.signup-bottom-heading2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    margin-left: 1rem;
}
.signup-social-media {
    background-color: #fff;
    width: 96%;
    // height: 45px;
    border: 5px outset #fff;
    border-radius: 10px;
    align-items: center;
    height: 45px;
    margin-top: 52px;
    margin-bottom: -100px;
    margin-left: -30%;
    .social-media-grid {
        display: flex;
        margin-top: 3px;
        margin-left: -25px;
        list-style: none;

        li {
            margin-right: 10px;
            padding-right: 2.5px;
                       padding-left: 3px;
        }
      
        .social-icon-bar {
            width: 2px;
            height: 15px;
            margin-top: 5px;
            background-color: rgba($color: #000000, $alpha: 0.15000000596046448);
        }
    }
}