@keyframes button {
    0% {
        stroke-dashoffset: 800px;
        stroke-dasharray: 0px, 800px;
    }

    10% {
        stroke-dashoffset: 700px;
        stroke-dasharray: 100px, 800px;
    }

    20% {
        stroke-dashoffset: 600px;
        stroke-dasharray: 200px, 800px;
    }
    30% {
        stroke-dashoffset: 500px;
        stroke-dasharray: 300px, 800px;
    }
    40% {
        stroke-dashoffset: 400px;
        stroke-dasharray: 400px, 800px;
    }
    50% {
        stroke-dashoffset: 300px;
        stroke-dasharray: 500px, 800px;
    }
    60% {
        stroke-dashoffset: 200px;
        stroke-dasharray: 600px, 800px;
    }
    70% {
        stroke-dashoffset: 100px;
        stroke-dasharray: 700px, 800px;
    }
    80% {
        stroke-dashoffset: 50px;
        stroke-dasharray: 750px, 800px;
    }
    90% {
        stroke-dashoffset: 25px;
        stroke-dasharray: 770px, 800px;
    }
    100% {
        stroke-dashoffset: 0px;
        stroke-dasharray: 800px, 800px;
    }
}

.installation-page-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 12%;
    .big-text {
        color: #fff;
        font-size: 2.0rem;
            font-family: 'Supercell-Magic';
    }
    .small-text {
        color: #fff;
        font-size: 0.9rem;
        opacity: 0.25;
        font-family: 'Poppins';
    }
    .installationo-text {
        color: #fff;
        font-size: 0.8rem;
        opacity: 0.25;
        margin-left: 78px !important;
        font-family: 'Poppins';
    }
    .installation-copyright {
        font-size: 11px;
        color: #fff;
        display: flex;
        font-family: 'Poppins';
        margin-top: 110px;
        margin-bottom: 30px;
        margin-left: 180px;
    }
    .installation-page-button {
        background-color: #2c3744;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        margin-top: 30px !important;
        margin-left: -110px !important;
        padding-bottom: 10px;
        color: #fff;
        font-size: 1.1em;
        font-family: Supercell-Magic;
        border: 3px solid #10171f;
        border-left: 5px solid #000;
        border-right: 5px solid #000;
        margin: 10px;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
    }
}

.installation-page-logo {
    width: 50px;
    height: 50px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: -15px;
}
