.chart {
    // background: rgba(255, 255, 255, 0.1);
    background-color: rgba(55, 88, 255, 0.25) ;
    // opacity: 0.25;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    // padding: 0 5px;
    display: block;
    height: 8px;
    margin-left: 2% !important;
    margin-top: 550px !important;
    margin-bottom: 115px;
    width: 75%;
}

#value1 {
    position: absolute;
    color: rgba($color: #fff, $alpha: 0.55);
    margin-top: 710px;
    margin-left: 35px;
    opacity: 0.5;
    font-family: Poppins, sans-serif;
    font-size: medium;
}

.chart span {
    margin-left: 5px;
    color: #fff;
    font-weight: bolder;

}
.animated-bar {
    animation: load 10s normal forwards;
    @extend .bar;
}
.bar {
    box-shadow: 0 10px 40px -10px #fff;
    background: linear-gradient(to right, #3758ff, #28b5f4);
    height: 7px;
    opacity: 1;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 100%;
    }
}

.loading-screen-footer {
    height: 145px;
    margin-top: -115px;
    background-color:rgba(20, 20, 20, 0.9);
    // opacity: 0.8;
    width: 100%;
    margin-bottom: -25px;
    p {
        color: #fff;
    }
    .loading-screen-user-info {
        font-family: poppins;
        position: absolute;
        margin-left: 1225px;
        margin-top: -22px;
        z-index: 1;

        p {
            color: rgba($color: #fff, $alpha: 0.8);
            margin-top: -13px;
        }
        span {
            color: #fff;
            font-weight: bold !important;
        }
    }
}

.loading-screen-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #28b5f4, #3758ff);
    margin: 40px;
    z-index: 999;
    border: none;
    height: 4.94rem;
    width: 14.9rem;
    border-radius: 17px;
    cursor: pointer;
    // border-top: 1px solid #28b5f4;
    font-family: supercell-magic;
}
.loading-screen-logo {
    position: absolute;

    margin-left: 720px;
    margin-top: 20px;
    img {
        height: 55px !important;
        width: 101px !important;
    }
}
.loading-screen-button-border {
    height: 4.94rem;
    width: 14.9rem;
    border-radius: 17px;
    margin-left: 43px;
    margin-top: 45px;
    border-bottom: 4.5px inset rgba(55, 88, 255, 0.25);
    border-right: 4.5px inset rgba(55, 88, 255, 0.25);

    // border-image-source: linear-gradient(to right, #28b5f4, #3758ff );
    position: absolute;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left, right, color-stop(1, #28b5f4, color-stop(1, #3758ff)));
}
.loading-screen-image {
    margin-top: -205px;
    margin-left: 80%;

    img {
        width: 240px;
        height: 120px;
    }
}
.loading-screen-image-shadow {
    position: absolute;
    margin-top: 683px;
    border-radius: 17px;
    background-image: linear-gradient(to right, rgba(216, 216, 216, 0.2), rgba(#fff, 0.2));
    opacity: 0.3;
    margin-left: 80%;
    background-color: #fff;
    width: 240px;
    height: 120px;
}
.copyright {
    font-size: 12px;
    color: #fff;
    display: flex;
    margin-top: 45px;
    img {
        width: 40px;
        height: 40px;
    }
}

.launcher-user {
    height: 100px;
    width: 240px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #10171f;
    display: flex;
    img {
        margin: 5%;
        width: 80px;
        height: 80px;
    }
    p {
        margin-top: 10%;
        color: #fff;
        font-size: x-small;
        span {
            font-size: large;
        }
    }
}

.second-page-container {
    top: 100vh;
    width: 100vw;
}

.loading-screen-scroll {
    overflow-y: scroll;
}

.loading-screen-container {
    top: 0;
    width: 100vw;
}

.loading-screen-container-up {
    top: 0;
    margin-top: 0;
    animation: moveUp 1s;
    width: 100vw;
}

.loading-screen-container-down {
    top: 0;
    margin-top: -100vh;
    animation: moveDown 1s;
    width: 100vw;
}

.slide-below {
    opacity: 0;
    animation: slide-below 0.5s ease-in-out;
}

@keyframes slide-below {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveDown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100vh;
    }
}

@keyframes moveUp {
    0% {
        margin-top: -100vh;
    }
    100% {
        margin-top: 0;
    }
}
.luancher-text {
    font-family: 'Poppins', sans-serif;
}