.app-bar-settings {
    margin-top: 50px;
    margin-right: 50px;
    position: absolute;
    z-index: 500003;
    color: #fff !important;
    border-color: rgba($color: #fff, $alpha: 0.25) !important;
    right: -2px;
    top: 30px;
    cursor: pointer;
    border: 1px outset #fff;
    border-radius: 15px;

    
}

.app-bar-menu{
    position: absolute;
    // background-color: rgba($color: #10171f, $alpha: 0.75);
    // margin-top: 200px;
    margin-left: -30px;
}
